<%# Write your code here! %>
<h1>Welcome!</h1>
<h2>If you tell me your name, I can say hi!</h2>
<form action=greet method="POST">
    <input type="text" name=user_name size=10>
    <input type="submit" value="Submit">
</form>